@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
/**{outline:1px solid rgba(255,0,0,0.8);}*/

body{ background: url(../img/fondo-corcho2.png); font-family: ;color:;}
p{font-family:'Architects Daughter',sans-serif ;color:; font-size: 1.5em;}
h1{font-family: 'Rhodium Libre',serif; }
.height_100{ height: 100vh; }

/*Inicio*/
  #inicio .container{}
  .hero-section{
    margin-top: 5%;
    margin-bottom: 3%;}

  .hero-section h1{ 
    margin:8% auto 0;
    font-size: 6.5em; }

  .hero-section h4{
    font-family: 'Arimo',sans-serif-serif;
    font-size: 1.8em;
    margin: 0 auto 3%; }

  nav{
    position: fixed;
    width: 100%;
    margin-top: 1%;
    z-index: 1000;}

  nav li{
    padding: 1.5%;
    background:#271F2E;
    background-size:cover;width:18%; 
    height: 100%;}

  nav a{
    color:#A4A680;
    font-family: 'Arimo',sans-serif-serif;
    font-size: 1.2em;
    text-transform: uppercase;}

/*.tira-fotos*/
#hero-section{position: relative;bottom: 0;}
  .letter-container{
    /*border-bottom: 1px dashed rgba(255,255,255,0.8);*/
    border-top: 5px dashed rgba(255,255,255,0.8);
    margin: 3%;
    padding: 20px 10px;
    font-family: 'Arimo', Arial, sans-serif;
    position:relative;
    bottom: 0;
  }
  /*-------------TODAS LAS FOTOS---------------*/
  .letter-container h2 a span,#introduccion #foto-about-me a span,#miTrabajo .trabajos>a span, #contactame .foto-contactame>a span{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 250px;    
    font-size: 0px;
    /*background-position: 50% 0%;*/
    background-size: 200px 267px;
    /*text-shadow: 0px 0px 1px #fff, 2px 2px 5px rgba(0,0,0,0.4);*/
    border-color: #fff;
    border-style: solid;
    border-width: 10px 10px 45px 10px;
    -webkit-box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.9), 0px 0px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.9), 0px 0px 2px rgba(0,0,0,0.2) inset;
    box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.9), 0px 0px 2px rgba(0,0,0,0.2) inset;
    -webkit-transition: all 0.3s ease-in-out;
  }

  .letter-container h2 a span:before{
    content:'';
    position: absolute;
    width: 200px;
    height: 240px;
    /*top: -10px;*/
    left: -10px;
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#520e0e0e', endColorstr='#52474545',GradientType=1 );
  }
  .letter-container h2 a span:nth-child(even){
    -webkit-transform: rotate(3deg) translateZ(0);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  .letter-container h2 a span:nth-child(odd){
    -webkit-transform: rotate(-5deg) translateZ(0);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  .letter-container h2 a span div,#introduccion #foto-about-me a span div{
    position:relative;
    top:-23%;
    left:50%;
    height:20%;
    width:19%;
    background: url(../img/pin-rosado.png) ; 
    background-size: cover;}
  .letter-container span.char1{
    background-image: url(../img/1.jpg);
  }
  .letter-container span.char2{
    background-image: url(../img/2.jpg);
  }
  .letter-container span.char3{
    background-image: url(../img/3.jpg);
  }
  .letter-container span.char4{
    background-image: url(../img/4.jpg);
  }
  .letter-container span.char5{
    background-image: url(../img/5.jpg);
  }

  
  .letter-container h2 a:hover span:nth-child(even){
    -webkit-transform: scale(0.9) rotate(-5deg) translateZ(0);
    -moz-transform: scale(0.9) rotate(-5deg);
    -o-transform: scale(0.9) rotate(-5deg);
    -ms-transform: scale(0.9) rotate(-5deg);
    transform: scale(0.9) rotate(-5deg);
  }
  .letter-container h2 a:hover span:nth-child(odd){
    -webkit-transform: scale(0.9) rotate(3deg) translateZ(0);
    -moz-transform: scale(0.9) rotate(3deg);
    -o-transform: scale(0.9) rotate(3deg);
    -ms-transform: scale(0.9) rotate(3deg);
    transform: scale(0.9) rotate(3deg);
  }
  .letter-container h2 a span:nth-child(even):hover,
  .letter-container h2 a span:nth-child(odd):hover{
    -webkit-animation: moveImg 9s linear infinite forwards;
    -moz-animation: moveImg 9s linear infinite forwards;
    -o-animation: moveImg 9s linear infinite forwards;
    -ms-animation: moveImg 9s linear infinite forwards;
    animation: moveImg 9s linear infinite forwards;
    /*color: rgba(255,255,255,0.4);*/
    /*text-shadow:0px 0px 5px rgba(0,0,0,0.1);*/
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 10;
    -moz-box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.6), 0px 0px 2px rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.6), 0px 0px 2px rgba(0,0,0,0.2) inset;
    box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.6), 0px 0px 2px rgba(0,0,0,0.2) inset;
  }
  @-webkit-keyframes moveImg {
      0%{ 
      background-position: 50% 0%;
    }
    50%{
      background-position: 50% 100%;
    }
    100%{
      background-position: 50% 0%;
    }
  }
  @-moz-keyframes moveImg {
      0%{ 
      background-position: 50% 0%;
    }
    50%{
      background-position: 50% 100%;
    }
    100%{
      background-position: 50% 0%;
    }
  }
  @keyframes moveImg {
      0%{ 
      background-position: 50% 0%;
    }
    50%{
      background-position: 50% 100%;
    }
    100%{
      background-position: 50% 0%;
    }
  }

/*Aboutme*/
  #introduccion {padding: 10% 0;}
  #introduccion #foto-about-me a span{
    width: 300px;
    height: 400px;
    background-size: cover;
    background-image: url(../img/4.jpg);
    margin: 15% 5%;
    border-width: 10px 10px 65px 10px;
    /*background-size: 250px 467px;*/}

  #introduccion #foto-about-me a span div{
    display:none;}
  #introduccion .fondo-about-me{
    background-image: url(../img/fondo-texto-about-me3.png) ;
    background-size:cover; 
    height: 550px;
    padding: 19% 15%;
    font-size: 1.1em;
  }
  #introduccion #foto-about-me span p:after{
    position:absolute;color:red;
    font-family: 'Caveat'; 
    width:100%;
    bottom:-50px;
    left:-10px;
    /*left: 1%;*/
    font-size: 25px;
    content: "Camaná 23 de Julio";
    
   }

/*Habilidades*/
  .medidas-hab{width:300px;height: 280px; margin: auto}
  #porqueelegirme .container>.row{ margin: 9% 0; }
  #porqueelegirme .container>.row.col{ margin: 10% 0; }
  #porqueelegirme .habilidad1{background: url(../img/hab1.png) ;background-size: cover;}
  #porqueelegirme .habilidad2 {background: url(../img/hab2.png);background-size: cover;}
  #porqueelegirme .habilidad3 {background: url(../img/hab3.png);background-size: cover;}
  #porqueelegirme .habilidad4{background: url(../img/hab4.png);background-size: cover;}
  #porqueelegirme .habilidad-papel{margin:auto;width:450px; height:600px;background: url(../img/fondo-hab.png);background-size: cover;}
  #porqueelegirme .habilidad-papel p {font-family: 'Rhodium Libre',serif; font-size:1.8em;top:40%; transform: rotate(5deg);}
  
  #porqueelegirme ul{ font-size:20px; width: 240px;  font-family:'Architects Daughter';}
  #porqueelegirme ul span{ text-transform:uppercase;font-size:18px; text-decoration:underline;width: 240px;}
  #porqueelegirme  ul li{margin-left:30px;}
  #porqueelegirme .habilidad1 ul{ top:40%; left:13%;;}
  #porqueelegirme .habilidad2 ul{ top:40%; left:11%;}
  #porqueelegirme .habilidad3 ul{ top:40%; left:13%;}
  #porqueelegirme .habilidad4 ul{ top:40%; left:7%;}

/*Mis trabajos*/
  #miTrabajo .trabajos>a span{
    width: 95%;
    height: 310px;
    margin: 15% 5%;
    background-size: cover;
    border-width: 10px 10px 65px 10px;}
  #miTrabajo i{font-size:2.8em ;color:brown;}
  #miTrabajo .titulo-trabajo{font-weight: bolder;}
  #miTrabajo .trabajo1>a span{background-image: url(../img/cp-trabajo1.jpg);}
  #miTrabajo .trabajo2>a span{background-image: url(../img/cp-trabajo2.jpg);}
  #miTrabajo .trabajo3>a span{background-image: url(../img/cp-trabajo3.jpg);}
  #miTrabajo .trabajo4>a span{background-image: url(../img/cp-trabajo1.jpg);}
  #miTrabajo .trabajo5>a span{background-image: url(../img/cp-trabajo1.jpg);}
  #miTrabajo .trabajo6>a span{background-image: url(../img/cp-trabajo1.jpg);}
  #miTrabajo .trabajo1>div, #miTrabajo .trabajo4>div{padding: 15% 10%;background-image: url(../img/trabajo1.png);background-size: cover; width: 300px; height: 300px;left: -12%;top: -200px;}
  #miTrabajo .trabajo2>div, #miTrabajo .trabajo5>div{padding: 15% 10%;background-image: url(../img/trabajo2.png);background-size: cover; width: 300px; height: 300px;left: 14%;top: -200px;}
  #miTrabajo .trabajo3>div, #miTrabajo .trabajo6>div{padding: 22% 11%;background-image: url(../img/trabajo3.png);background-size: cover; width: 300px; height: 300px;left: 20%;top: -200px;}
  #miTrabajo .container> :first-child{ margin: 8% auto 0;}
  /*#miTrabajo .container>.row :nth-child(4){ margin:0;}*/

  /*#miTrabajo .container> :nth-child(2){ height: 800px;}*/



 /* #miTrabajo .texto-trabajo1>div{ top:40%; }
  #miTrabajo .texto-trabajo2>div{}
  #miTrabajo .texto-trabajo3>div{}*/

/*Contactame*/
 
  
  /*#contactame .foto-contactame>a {top:340px;}*/
  #contactame .foto-contactame>a span{
    background-image: url(../img/4.jpg);
    width: 50%;
    height: 410px;
    margin: 15% 5%;
    background-size: cover;
    border-width: 10px 10px 65px 10px;
    transform: rotate(-3deg);
    left:3%;
    /*top:-10em;*/
  }
  #contactame .row{margin: 12% auto;}
  #contactame .texto-contactame{font-size:0.9em;left:30%;transform: rotate(-3deg); background: url(../img/carta-contactame.png) 100%; width: 70%;height: 310px; background-size: cover; }
  #contactame .texto-contactame>div{top:9.5em;left:53%;width:45%;}
  #contactame .foto-contactame{top:-25em;}

  #contactame .contacto{background: url(../img/link2.png) center;background-size: cover; }
/*  #contactame .c{font-size:0.5em;}*/
  #contactame i{font-size:5em ;color:brown;}
  #contactame img{width: 50%}

