@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
*{outline:1px solid rgba(255,0,0,0.2);}
.background-all{ background: #fff; }
.height_100{ height: 100vh; }
.width_100{ height: 100vW; }
.width_90{width: 90%;}
.menu_lateral{ height: 100%; }
.linea_tiempo{ height: 100%; }
.hero-section{ margin:200px;}
#inicio{background: url("../img/portada-playa.jpg");}



/*menu- hover*/
  @import url(//codepen.io/team/codepen/pen/NxwJpr.css);
  .underline {
    border: 2px solid transparent;
  }
  .underline::after {
    width: 0%;
    height: 2px;
    display: block;
    background-color: #fff;
    content: " ";
    position: absolute;
    top: 34px;
    left: 50%;
    -webkit-transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .underline:hover::after {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #fff;
    content: " ";
    position: absolute;
    top: 34px;
    left: 0;
  }
/*MENULATERAL*/
  
  body {font-family: "Roboto", sans-serif;}
  .menulateral-header{
    position: fixed;
    width: 70px;
    height: 100%;
    background: #0e0f12;
    z-index: 2;
  }  
  .menulateral-header a {color: #fff;}
  .menulateral-header a i{font-size: 25px;}

  .menulateral-header .menu-item {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menulateral-header .menu-item .menu-text {
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    /*height: 100px;*/
    background-color: #198ada;
    font-size: 18px;
    text-align: center;
    background-color: #198ada;/*colormenulateral*/
    /*transition-duration: 0.3s*/
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menulateral-header .menu-item:hover {
    background: #198ada;/*colormenulateral*/
  }

  .menulateral-header .menu-item:hover .menu-text {
    color: #fff;
    left: 70px;
  }
  .menulateral-header .menu-item:focus {color: #198ada;}
  .menulateral-header .item.active .menu-item { background: #198ada;}


  
