//- insistir,persistir,resistir y nunca desistir
//- Atraes lo que eres, si quieres una vida increible se una persona increíble
//- "¿Qué sería de la vida, si no tuviéramos el valor de intentar algo nuevo?" 
//- mereces lo que sueñas
//- Se como el lobo, fuerte en la soledad, solidario en el grupo
//- Si vas a cometer errores, que sean nuevos

doctype html
html(lang="en")
	head
		title Portafolio Mery Santos
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(rel="stylesheet" href="css/font-awesome.min.css")
		link(rel="stylesheet" href="css/utilitarios.css")
		link(rel="stylesheet" href="css/style.css")
		//- Titulo
		link(href='https://fonts.googleapis.com/css?family=Rhodium+Libre' rel='stylesheet' type='text/css') 
		//- Handwriting
		link(href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet' type='text/css')
		<link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'> 
		
		
		script(type="text/javascript" src="js/jquery-2.2.4.min.js")
		script(src='main.js')
		script(type="text/javascript" src="js/jquery.lettering.js")
		script(type="text/javascript" src="js/jquery.lettering.js")
		script.
			$(function() {
				$("#letter-container h2 a").lettering();
			});
			$(function() {
				$("#introduccion #foto-about-me a").lettering();
			});
			$(function() {
				$("#miTrabajo .trabajos>a").lettering();
			});
						
	body.background-all
		section#inicio
			nav.text-center
				ul.list-inline
					li
						a.underline(href="#inicio") HOME
					li
						a.underline(href="#introduccion") ABOUT ME
					li
						a.underline(href="#porqueelegirme") ¿WHY CHOOSE ME?
					li
						a.underline(href="#miTrabajo") MY WORK
					li
						a.underline(href="#contactame") CONTACT ME

			.container
				.row.hero-section.text-center
					h1 MERY SANTOS
					h4 WEB DEVELOPER
					//- Tira-fotos

					#letter-container.letter-container
						h2
							a(href="#") misha
		section#introduccion
			.container
				.row
					.col-md-5.foto-about-me#foto-about-me.text-center
						a.img-responsive .
						//- span Camaná, 23 de Julio
					.col-md-7
						.texto-about-me.TEXT-CENTER.fondo-about-me
							p Hola!, mi nombre es Mery Santos Zabalaga, nací un 23 de Julio en la ciudad de Camaná (Arequipa), y estudié la carrera de Ing. de Sistemas.
							p Me considero una persona que aprende rápido, autodidacta y con ganas de no quedarse en lo mismo, es por ello que me anime a participar en Laboratoria para obtener lo mejor de mi.
		section#porqueelegirme
			.container.text
				.row
					.col-md-3
						.row
							.habilidad1.medidas-hab
								ul.p-rl <span>Programacion Web </span>
									li HTML + CSS
									li JS
									li JQuery
									li Jade + Sass
						.row
							.habilidad2.medidas-hab.p-rl
									ul.p-rl <span>Programacion Orientada a Objetos </span>
										li Visual Basic
										li Java
					
					.col-md-6.medidas-hoja-hab.text-center
						.habilidad-papel.p-rl
							p.p-rl MIS HABILIDADES
					
					.col-md-3
						.row
							.habilidad3.medidas-hab.p-rl
								ul.p-rl <span>Otros</span>
									li Wordpress
									li Autocad
									li NodeJs
									li Angular
						.row
							.habilidad4.medidas-hab.p-rl
								ul.p-rl <span>Otros</span>
									li Wordpress
									li Autocad
									li NodeJs
									li Angular			
		section#miTrabajo
			.container
				.row.text-center
					.col-md-4.trabajos.trabajo1.p-rl
						a .
						//- Stick
						div.texto-trabajo1.p-rl
							div.p-rl
								p.titulo-trabajo AGENCY THEME
								p Proyecto desarrollado con preprocesadores Jade y Sass
								a.btn
									i.fa.fa-github.btn(href="#" role="button")

					.col-md-4.trabajos.trabajo2.p-rl
						a .
						//- Stic
						div.texto-trabajo2.p-rl
							div.p-rl
								p.titulo-trabajo AGENCY THEME
								p Proyecto desarrollado con preprocesadores Jade y Sass
								a.btn
									i.fa.fa-github.btn(href="#" role="button")
						
					.col-md-4.trabajos.trabajo3.p-rl
						a .
						//- Stick
						div.texto-trabajo3.p-rl
							div.p-rl
								p.titulo-trabajo AGENCY THEME
								p Proyecto desarrollado con preprocesadores Jade y Sass
								a.btn
									i.fa.fa-github.btn(href="#" role="button")
						
				
		section#contactame.height_100
			.container
				.row
					.col-md-8
						.texto-contactame
							p Ya me conociste un poco más, ¡Ahora si! ¿Que proyecto empezaremos juntos?
							p Gmail: rymesz@gmail.com
						p foto
					.col-md-4
						a.btn
								i.fa.fa-twitter.btn(href="#" role="button")
						a.btn
								i.fa.fa-linkedin.btn(href="#" role="button")
					

		