//- "¿Qué sería de la vida, si no tuviéramos el valor de intentar algo nuevo?" 
//- Si vas a cometer errores, que sean nuevos

doctype html
html(lang="en")
	head
		title Portafolio Mery Santos
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shorcut icon" href="img/image/favicon.png" type="image/png")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
		link(rel="stylesheet" href="css/utilitarios.css")
		link(rel="stylesheet" href="css/style.css")

		//- Titulo
		link(href='https://fonts.googleapis.com/css?family=Rhodium+Libre' rel='stylesheet' type='text/css') 
		//- Handwriting
		link(href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet' type='text/css')
		<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet"> 
		
		
		script(type="text/javascript" src="js/jquery-2.2.4.min.js")
		script(type="text/javascript" src="js/jquery.js")
		script(type="text/javascript" src="js/bootstrap.min.js")
		script(src='main.js')
		script(type="text/javascript" src="js/jquery.lettering.js")
		script.
			$(function() {
				$("#letter-container h2 a").lettering();
			});
			$(function() {
				$("#introduccion #foto-about-me a").lettering();
			});
			$(function() {
				$("#miTrabajo .trabajos>a").lettering();
			});
			$(function() {
				$("#contactame .foto-contactame>a").lettering();
			});
						
	body.background-all
		
		section#menu.navbar
			.navbar-header.visible-xs
				button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#menu-g" aria-expanded="false")
					i.fa.fa-bars
				a(href="#inicio")
					img(src="img/favicon.png" width="70px" style="margin-left:10px;margin-top:5px;")
			nav.text-center.collapse.navbar-collapse#menu-g
				ul.list-inline
					li
						a.underline(href="#inicio") Inicio
					li
						a.underline(href="#introduccion") Acerca de mí
					li
						a.underline(href="#porqueelegirme") Habilidades
						//- ¿Porqué escogerme?
					li
						a.underline(href="#miTrabajo") Mi trabajo
					li
						a.underline(href="#contactame") Contactame
		section#inicio
			.container
				.row.hero-section.text-center
					h1 MERY SANTOS
					h4 WEB DEVELOPER
					//- Tira-fotos

					#letter-container.letter-container
						h2
							a(href="#") misha
		section#introduccion
			.container
				.row
					.col-md-5.foto-about-me#foto-about-me.text-center
						a.img-responsive .
						//- span Camaná, 23 de Julio
					.col-md-7
						.texto-about-me.TEXT-CENTER.fondo-about-me
							H1 SOBRE MÍ
							p Hola!, mi nombre es Mery Santos Zabalaga, nací un 23 de Julio en la ciudad de Camaná (Arequipa), y estudié la carrera de Ing. de Sistemas.
							p Me considero una persona que aprende rápido, autodidacta y con ganas de no quedarse en lo mismo, es por ello que me animé a participar en Laboratoria para obtener lo mejor de mí.
		section#porqueelegirme
			.container.text
				.row
					.col-md-3
						.row
							.habilidad1.medidas-hab
								ul.p-rl <span>Programación Web </span>
									li HTML + CSS
									li JS
									li JQuery
									li Angular
						.row
							.habilidad2.medidas-hab.p-rl
									ul.p-rl <span>Programación Orientada a Objetos </span>
										li Visual Basic
										li Java
					
					.col-md-6.medidas-hoja-hab.text-center
						.habilidad-papel.p-rl
							p.p-rl  ¿POR QUÉ 
								p.p-rl ESCOGERME?
					
					.col-md-3
						.row
							.habilidad3.medidas-hab.p-rl
								ul.p-rl <span>Pre-procesadores</span>
									li Sass
									li Jade
						.row
							.habilidad4.medidas-hab.p-rl
								ul.p-rl <span>Otros</span>
									li Wordpress
									li Autocad
									li NodeJs		
		section#miTrabajo
			.container
				.row
					h1 MIS TRABAJOS
				.row.text-center
					.col-md-4.trabajos.trabajo1
						a .
						//- Stick
						div.texto-trabajo1.p-rl
							div.p-rl
								p.titulo-trabajo AGENCY THEME
								p Proyecto desarrollado con preprocesadores Jade y Sass
								a.btn(href="https://http://merysantos.github.io/Agency-theme/" role="button")
									i.fa.fa-github.btn
					.col-md-4.trabajos.trabajo2
						a .
						//- Stic
						div.texto-trabajo2.p-rl
							div.p-rl
								p.titulo-trabajo WHATSAPP
								p Proyecto simulatorio de WhatsApp usando NodeJS
								a.btn(href="http://merysantos.github.io/Wsp-Chat/public/" role="button")
									i.fa.fa-github.btn
						
					.col-md-4.trabajos.trabajo3
						a .
						//- Stick
						div.texto-trabajo3.p-rl
							div.p-rl
								p.titulo-trabajo CAJERO <BR>AUTOMATICO
								p Proyecto realizado con JavaScript.
								a.btn
									i.fa.fa-github.btn(href="https://github.com/MerySantos/Cajero" role="button")		
		section#contactame
			.container
				.row.titulo-contactame
					h1 CONTÁCTAME
				.row
					.col-md-7.p-rl
						.texto-contactame.p-rl
							div.p-rl.text-center
								p Ya me conociste un poco más, ¡Ahora sí! ¿Qué proyecto empezaremos juntos? 
								p 
									a(href='#inicio') rymesz@gmail.com
						.foto-contactame.p-rl
							a.img-responsive .
					.col-md-5.contacto.text-center
						a.btn.d-b(href="mailto:rymesz@gmail.com?Subject=Hola" role="button")
							i.fa.fa-envelope.btn
						a.btn.d-b(href="https://github.com/MerySantos" role="button")
							i.fa.fa-github.btn
						a.btn.d-b(href="https://www.linkedin.com/in/mery-santos-zabalaga-a8b63335?trk=nav_responsive_tab_profile_pic" role="button")
							i.fa.fa-linkedin.btn
						//- .row
						//- 	img(src="img/estampilla.png")		